#websiteContainer {
  font-family: 'Helvetica', sans-serif;
  background-color: #333647;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  user-select: none;
  font-size: 13px;
}


.bold {
  color: #f87c58;
  font-weight: bold;
}

